{% block teaser %}
    <div class="row">
        <img src="imgs/tv_teaser_unsplash_edit.jpg" class="img-fluid teaser-main">
    </div>
{% endblock %}

{% block categorySelection %}
    {% include "main/categorySelection.html.twig" %}
{% endblock %}