<div id="show-edit-box">
    <form method="post" action="{{ url }}">
        <label for="title">Titel</label>
        <input type="text" name="title" id="title" placeholder="Titel" value="{{ title }}">
        <br>
        <label for="tvdbId">TVDB ID</label>
        <input type="text" name="tvdbId" id="tvdbId" value="{{ tvdbId }}">
        <br>
        <label for="lang">Sprache</label>
        <select name="lang" id="lang">
            <option value="de"
                {% if (lang == "de") %}
                    selected="selected"
                {% endif %}
            >Deutsch
            </option>
            <option value="en"
                {% if (lang == "en") %}
                    selected="selected"
                {% endif %}
            >Englisch
            </option>
        </select>
        <br>
        <button type="submit">Los</button>
    </form>
</div>
