<div class="row show-list">
    {% for data in overview %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{ data['thumbUrl'] }}">
                <div class="card-block">
                    <a class="card-link" href="{{ data['folder'] }}" title="{{ data['title'] }}">
                        <h4 class="card-title">{{ data['title'] }}</h4>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <br class="clear">
</div>