<div class="modal fade" id="movie-edit-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Bearbeiten</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {#<form method="get" action="">#}
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-nowrap" for="movieDbId">themoviedb.org ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="movieDbId" id="movieDbId" value="">
                            </div>
                        </div>

                        <div id="preview" class="hidden">
                            <h5 id="previewTitle"></h5>
                            <div id="previewOverview"></div>
                            <div id="previewInfo"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" disabled="disabled">Ok</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                </div>
            {#</form>#}
        </div>
    </div>
</div>
