<div class="modal fade" id="movie-search-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Suchen</h4>
            </div>
            <form method="get" action="">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="filter">Suche</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="filter" id="filter" placeholder="Titel, Darsteller, Regie, ...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="genres">Genres</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="genres" id="genres">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="list">Listen</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="list" id="list">
                                    <option value=""></option>
                                    {% for row in lists %}
                                        <option value="{{ row["id"] }}">{{ row["name"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="collection">Reihen</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="collection" id="collection">
                                    <option value=""></option>
                                    {% for row in collections %}
                                        <option value="{{ row["id"] }}">{{ row["name"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                </div>
            </form>
        </div>
    </div>
</div>
