<div class='series-title'>
    <div class="header-caption">{{ title }}</div>
    <div class='header-buttons-left'>
        {% if target is defined %}
            <a href="http://{{ target }}" class="backBn">&lt; Zurück</a>
        {% endif %}
        <br class='clear'>
    </div>
    <div class='header-buttons-right'>
        {% if showEditButton %}
            <a href="javascript:void(0)" id='edit-box-link'>Edit</a>
        {% endif %}
        <br class='clear'>
    </div>
    <br class='clear'>
</div>
