<div id="movie-details-dialog">
    <span class="movie-details-label">Movie DB ID: </span><br>
    <input type="text" id="movie-id" value="{{ movie_db_id }}" title="Movie DB ID">
    <br>

    <span class="movie-details-label">Title</span><br>
    <span>{{ data["title"] }}</span><br>
    <span class="movie-details-label">Overview</span><br>
    <span>{{ data["overview"] }}</span><br>
    <span class="movie-details-label">Release Date</span><br>
    <span>{{ data["release_date"] }}</span><br>
</div>