{% block nav %}
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar2" aria-controls="collapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="http://{{ host }}">TV</a>
                </li>
                {% for key, area in categories %}
                    {% for category in area %}
                        <li class="nav-item">
                            <a class="nav-link" href="http://{{ host ~ '/' ~ key ~ '/' ~ category }}">
                                {{ category }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <div>
                {% block buttons %}
    
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}